{
	"root": true,
	"env": {
		"browser": false,
		"es6": true,
		"jest": true
	},
	"extends": ["airbnb", "prettier", "prettier/react"],
	"plugins": ["prettier"],
	"parserOptions": {
		"ecmaVersion": 2018
	},
	"parser": "babel-eslint",
	"rules": {
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": false,
				"optionalDependencies": false,
				"peerDependencies": true
			}
		]
	}
}
